@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
   margin: 0;
   padding: 0;
   background-color: black;
   list-style: none;
   text-decoration: none;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    width: 60%;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
li:hover{
    color: #D21617;
}
#logo {
    width: 150px;
    height: auto;
}

#banner{
    background-image: url(https://pbs.twimg.com/media/FBwJWeQXIAItfyH.jpg:large);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trailer {
    width: 50%;

}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.description{
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #D21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.card:hover{
    transform: scale(1.02);
}

.banner-1 {
    background-image: url(https://noticiasdatv.uol.com.br/media/uploads/artigos_2021/batman-robert-pattinson-foto-divulgacao-warner-bros.jpg);
}
.banner-2 {
    background-image: url(https://pbs.twimg.com/media/FMO83fmWYAMYttY?format=jpg&name=900x900);
}.banner-3 {
    background-image: url(https://static.wikia.nocookie.net/batman/images/3/36/Jim_Gordon_Total_Film_still.webp/revision/latest?cb=20220220041206);
}

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation{
    display: none;
}
.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation{
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content{
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}   